{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Javobni o‘chirish {% endblock %}
{% block body_class %} dashboard {% endblock body_class %}
{% block stylesheets %}
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper text-center mt-5">
    <h3>Rostdan ham “{{ answer.answer_uz }}” javobini o‘chirmoqchimisiz?</h3>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Ha, o‘chirish</button>
        <a href="{% url 'answer_list' %}" class="btn btn-secondary">Bekor qilish</a>
    </form>
</div>
{% endblock %}
